*{margin:0; padding :0; }

#container{
  width:100vw;
  height:100vh;
  background-color: white;
  display: flex;
  // & div{
  //   border: 1px solid cadetblue;
  // }

  &>div:nth-child(1){
    width:30%;
    height:100%;
    &>div{
      position: relative;
      left:700px;
      top: 800px;
      width:fit-content;
      height:fit-content;
      display: flex;
      &>div{
        width:10px;
        margin: 5px;
        height:10px;
        background-color: #c8c8c8;
        border-radius: 50%;
      }
    }
  }
  &>div:nth-child(2){
    width:70%;
    height:100%;

    &>div:nth-child(1){
      width:800px;
      height:800px;
      position:absolute;
      border: 1px solid #c8c8c8;
      left: 1100px;
      top:160px;
      border-radius: 50%;
    }
    &>div:nth-child(2){
      width:600px;
      height:600px;
      position: absolute;
      left:1000px;
      top:250px;
      border-radius: 250px;
      background-color: white;
    }
    &>div:nth-child(3){
      width:400px;
      height:400px;
      position: absolute;
      left: 1200px;
      top:350px;
      background-color: rgba(0,0,0,0.3);
      border-radius: 150px;
      // backdrop-filter: blur(10px);
      filter: blur(50px);
    }
    &>div:nth-child(4){
      width:300px;
      height:300px;
      border-radius: 100px;
      position: absolute;
      left:1000px;
      top:400px;
      background-color: #c8c8c8;
      transform: rotate(30deg);
    }
    &>div:nth-child(5){
      position: absolute;
      left:1200px;
      top:500px;
      font-size: 30px;
      color:white;
    }
  }
}